<ion-split-pane contentId="content" when="lg">
  <ion-menu contentId="content" type="overlay" menuId="main-menu">
    <ion-toolbar style="height: 68px" color="primary">
      <a routerLink="/" class="nav-split-header-img">
        <img src="" />
      </a>
    </ion-toolbar>

    <ion-content [scrollbar]="scroolStyle" color="sidenav">
      <div lines="none" button  *ngIf="isMobile" class="profile">
        <ion-row>
          <ion-col size="2" class="ion-padding">
            <ion-avatar slot="start" *ngIf="profilePicture; else profileIcon">
              <img [src]="profilePicture" class="profile-picture" />
            </ion-avatar>
            <ng-template #profileIcon>
              <nb-icon icon="person-outline" class="person-icon"></nb-icon>
            </ng-template>
          </ion-col>
          <ion-col size="10" class="ion-padding meta-info">
            <ion-text class="d-block">
              <strong>{{ user.firstName }} {{ user.lastName }}</strong>
            </ion-text>
            <ion-text>
              <span *ngIf="!isOwnerEqualsUser()">{{ account.owner | titlecase }}</span>
            </ion-text>
          </ion-col>
        </ion-row>
      </div>
      <nav class="nav-menu">
        <ul>
          <li (click)="closeAllAccordion()">
            <a  routerLinkActive="active-link">
              <nb-icon icon="grid-outline" class="desktop-icon"></nb-icon>
              Dashboard
            </a>
          </li>
          <li (click)="closeAllAccordion()">
            <a  routerLinkActive="active-link">
              <nb-icon icon="monitor-outline" class="desktop-icon"></nb-icon>
              Supervisão
            </a>
          </li>

          <li>
            <nb-accordion #accordionNav>
              <nb-accordion-item [expanded]="activePath === 'analytics'">
                <nb-accordion-item-header >
                  <a>
                    <nb-icon icon="pie-chart-outline" class="desktop-icon"></nb-icon>
                    Análises
                  </a>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <ul>
                    <li>
                      <a  routerLinkActive="active-link-li"> KPIs </a>
                    </li>
                    <li>
                      <a  routerLinkActive="active-link-li"> Energia </a>
                    </li>
                    <li>
                      <a r routerLinkActive="active-link-li"> Financeiro </a>
                    </li>
                    <li>
                      <a  routerLinkActive="active-link-li"> Manutenção </a>
                    </li>
                  </ul>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item [expanded]="activePath === aliment">
                <nb-accordion-item-header >
                  <a>
                    <nb-icon icon="file-outline" class="desktop-icon"></nb-icon>
                    Financeiro
                  </a>
                </nb-accordion-item-header>

                <nb-accordion-item-body>
                  <ul>
                    <li>
                      <a r routerLinkActive="active-link-li"> Faturas </a>
                    </li>
                    <li>
                      <a  routerLinkActive="active-link-li"> Contratos </a>
                    </li>
                  </ul>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item [expanded]="activePath === 'setup'">
                <nb-accordion-item-header>
                  <a>
                    <nb-icon icon="settings-outline" class="desktop-icon"></nb-icon>
                    Instalação
                  </a>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <ul>
                    <li>
                      <a r routerLinkActive="active-link-li"> Locais monitorados </a>
                    </li>
                    <li>
                      <a  routerLinkActive="active-link-li"> Pontos supervisionados </a>
                    </li>
                    <li>
                      <a  routerLinkActive="active-link-li"> Gateways </a>
                    </li>
                    <li>
                      <a  routerLinkActive="active-link-li"> Dispositívos </a>
                    </li>
                    <li>
                      <a  routerLinkActive="active-link-li"> Sensores </a>
                    </li>
                    <li>
                      <a  routerLinkActive="active-link-li"> Atuadores </a>
                    </li>
                  </ul>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </li>
        </ul>
      </nav>
    </ion-content>
    <ion-footer>
      <ion-toolbar class="ion-text-center" color="primary">
        <a  target="_blank">
          <img src="assets/img/logo_mini_branca.png" class="nav-split-footer-img" />
        </a>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>

  <ion-tabs *ngIf="isMobile" class="tab-mobile">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="notifications-history"  routerLinkActive="active-link">
        <nb-icon icon="bell-outline" class="bell-icon"></nb-icon>
      </ion-tab-button>

      <ion-tab-button tab="dashboard"  routerLinkActive="active-link">
        <nb-icon icon="grid-outline" class="grid-icon"></nb-icon>
      </ion-tab-button>

      <ion-tab-button tab="settings" routerLink="/nav/settings" routerLinkActive="active-link">
        <nb-icon icon="settings-2-outline" class="setting-icon"></nb-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-split-pane>

<ion-menu
  contentId="content"
  (ionDidClose)="disableMenu()"
  (ionWillOpen)="loadRightMenuData()"
  menuId="menuRigth"
  disabled="true"
  side="end"
  type="overlay"
>
  <app-point-detail
    #pointDetail
    *ngIf="rigthMenuSidebar.menuRightDataType == 'PointInfo'"
    [menuData]="rigthMenuSidebar.menuData"
    style="height: 73%"
  ></app-point-detail>
</ion-menu>
